{% extends "base.html"%}

{% block title %}Collection{% endblock %}

{% block content %}
    <h1>Collection</h1>
    <div>
        <form method="POST">
            <input type="number" name="price_bot" placeholder="Нижняя граница цены"><br>
            <input type="number" name="price_top" placeholder="Верхняя граница цены"><br>
            <select name="region">
                <option value="Moscow">Москва</option>
                <option value="Moscow region">Московская область</option>
            </select>
            <select name="ap_type">
                <option value="New building">Москва</option>
                <option value="Moscow region">Московская область</option>
            </select>
            <input type="submit" name="submit" placeholder="Применить"><br>
        </form>
    </div>
    {% if request.method == 'POST' %}
        {% for i in range(df_filter_len) %}
            <div>
                <p>Price: {{ df_filter.iloc[i]['Price'] }}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}