{% extends "base.html"%}

{% block title %}Log in{% endblock %}

{% block content %}
    <h1>Login</h1>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class = flashes>
                    {% for messages in messages %}
                        <li>{{ messages }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <form method="post">
            <input type="email" name="email" id="email" placeholder="Введите почту"><br>
            <input type="password" name="password" id="password" placeholder="Введите пароль"><br>
            <input type="submit" value="Войти"><br>
            <text>Are you not in system? </text> <a href="{{ url_for('registration') }}">Register</a>
        </form>
    </div>
{% endblock %}