{% extends "base.html"%}

{% block title %}Registration{% endblock %}

{% block content %}
    <h1>Registration</h1>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class = flashes>
                    {% for messages in messages %}
                        <li>{{ messages }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <form method="post">
            <input type="text" name="name" placeholder="Введите имя"><br>
            <input type="email" name="email" id="email" placeholder="Введите почту"><br>
            <input type="password" name="password" id="password" placeholder="Введите пароль"><br>
            <input type="submit" value="Зарегистрироваться"><br>
            <text>Are you have a account?</text> <a href="{{ url_for('login') }}">Login</a>
        </form>
    </div>
{% endblock %}